<div class="spacer">
</div>

<footer class="footer">
  <div class="container-fluid my-2">
    <div class="row justify-content-center">
      <p>© Copyright 2020 Puppy Market</p>
    </div>
    <div class="row justify-content-center">      
      <div class="social-media">
        <a href="https://twitter.com/"><i class="social-media-icon fab fa-twitter"></i></a>
        <a href="https://facebook.com/"><i class="social-media-icon fab fa-facebook-f"></i></a>
        <a href="https://instagram.com"><i class="social-media-icon fab fa-instagram"></i></a>
        <a href="/"><i class="social-media-icon fas fa-envelope"></i></a>
      </div>
    </div>
  </div>
</footer>