.main-pic {
    max-width: 450px;
    margin: 25px;
}


.ref-link {
    color: #81a780;
}

.author {
    font-style: italic;
}

.score {
    float: right;
}

.bubble {
    background: #c4dcc3;
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    border: #81a780;
    left: 50%;
    transform: translateX(-50%);
  }
  .bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: #c4dcc3;
    border: #81a780;
    top: -1px;
    left: 50%;
}